MODEL_NAME=sshleifer/tiny-gpt2
DTYPE=float16
QUANTIZATION=none
MAX_MODEL_LEN=4096
GPU_MEMORY_UTILIZATION=0.90
BLOCK_SIZE=16
ENABLE_SPECULATIVE=false
DRAFT_MODEL_NAME=
SPECULATIVE_K=5
MAX_BATCH_SIZE=32
PREEMPTION_MODE=recompute
DEVICE=auto
HOST=0.0.0.0
PORT=8000
